@tailwind base;
@tailwind components;
@tailwind utilities;
/* shimmer  */
.menu-header {
  height: 30vh;
  background-color: #000;
  color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.x img{
  background-size: cover;
  background-position: center;
}

.menu-header .menu-header-left img {
  width: 250px;
  height: 170px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

.menu-header .menu-header-right .top h1 {
  font-size: 40px;
  font-weight: normal;
}

.menu-header .menu-header-right .top h3 {
  font-weight: normal;
  opacity: 0.7;
  margin-top: 5px;
}

.menu-header .menu-header-right .bottom {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.menu-header .menu-header-right .bottom h4 {
  border-right: 4px solid #ccc;
  padding-right: 20px;
}
.menu{
  background-color:#f7f7f7;
}




.menu-main-card-container {
  margin-top: 50px;
  border-radius: 7px;
}

.menu-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
  background-color: #fff;
  padding: 20px;
  border-bottom: 1px solid #3b3a3a;
}

.menu-card-right img {
  height: 100px;
  width: 100px;
  min-width: 100px;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}
/* * Shimmer */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 25px;
  /* margin: 0 20px; */
  margin-top: 105px;
}

.shimmer-card {
  /* width: 200px;
  height: 400px;
  margin: 20px;
  border-radius: 11px;
   */

  width: 200px;
  height: 450px;
  background-color: #efefef;
  /* height: 300px; */
  /* padding: 5px; */
  /* padding-bottom: 20px; */
  /* border: 1px solid transparent; */

  border-radius: 11px;
  cursor: pointer;
}

.shimmer-menu,
.shimmer-menu-main {
  background-color: #efefef;
}

/*Animation to Shimmer Component Card and Menu card Start*/
.stroke {
  /* height: 15px; */
  background: #777;
}

.stroke-color {
  background: #777;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
.animate-fast{
  animation: shimmer 2s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #f0eeee 5%, #d1cfcf 25%, #e8e6e6 35%);
  background-size: 1000px 100%;
}